name: Simple Compilation Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake
      - name: Create build folder
        run: mkdir build
      - name: Configure cmake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
      - name: Build all targets
        run: cmake --build build
      - name: Run App
        run: ./bin/App
      - name: Run CTests
        run: ctest --test-dir build --output-on-failure